################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/out/build/x64-Debug
/Dll2.dll
/ImGui/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/ImGui/out/build/x64-Debug
